@charset "utf-8";

* {
          margin: 0px;
          padding: 0px;
          box-sizing: border-box; 
}
ul, ol, li {
          list-style: none; 
}
figure {
          width: 100%;
          height: 100vh;
          overflow: hidden;
          position: relative;
          background: linear-gradient(0deg, #C0C0C0, #B0C4DE); 
}
figure p {
          position: absolute;
          top: 7vh;
          left: 4vw;
          font-size: 20px;
          font-family: "arial";
          color: #fff;
          line-height: 1.4;
          letter-spacing: 1px;
          text-decoration: none;
}
figure button {
          width: 75px;
          height: 26px;
          position: relative;
          z-index: 20;
          top: 7vh;
          left: 3.5vw;
          font-size: 20px;
          font-family: "arial";
          opacity: 0;
          line-height: 1.4;
          letter-spacing: 1px;
          text-decoration: none;
          cursor: pointer;
}
figure article {
          position: relative;
          width: 400px;
          height: 400px;
          margin-top: 20vh;
          margin-left: 9vw;
          border-radius: 7%;
          float: left;
          cursor: pointer;
}
img {
          width: 100%;
          height: 100%;
          margin: 0px;
          position: absolute;
          display: flex;
          z-index: 20;
          border-radius: 7%;
          opacity: 1;
          transition: all 0.7s ease;
}
.back {
          position: absolute;
          width: 100%;
          height: 100%;
          background: black;
          opacity: 0.6;
          box-sizing: border-box;
          border-radius: 7%;
          transition: all 0.8s ease;
}
.back h1{
          position: relative;
          color: white;
          width: 80%;
          height: 80%;
          margin: 17% 10%;
          font-size: 36px;
}
.back p{
          color: #c0c0c0;
          width: 83%;
          font-size: 20px;
          margin: 30% -10%;
}

article :hover img {transform: translateY(-50px);}
article :hover .back {transform: translateY(300px);}